# Hotel Booking Cancellation Prediction - EDA
**Objective:** Predict hotel booking for a next booking of the hotel.

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import randomcolor
%matplotlib inline

In [122]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,phone-number,total_stay_nights,total_members,total_bookings,arrival_date_month_num
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,0.0,0,0,Check-Out,2015-07-01,669-792-1661,0,2.0,0,7
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,0.0,0,0,Check-Out,2015-07-01,858-637-6955,0,2.0,0,7
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,...,75.0,0,0,Check-Out,2015-07-02,652-885-2745,1,1.0,0,7
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,...,75.0,0,0,Check-Out,2015-07-02,364-656-8427,1,1.0,0,7
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,...,98.0,0,1,Check-Out,2015-07-03,713-226-5883,2,2.0,0,7

### Data Exploration

In [123]:
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_month              119390 non-null  object
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  meal                            119390 non-null  object
 12  country                         118902 non-null  object
 13  market_segment                  119390 non-null  object
 14  distribution_channel            119390 non-null  object
 15  is_repeated_guest               119390 non-null  int64
 16  previous_cancellations          119390 non-null  int64
 17  previous_bookings_not_canceled  119390 non-null  int64
 18  reserved_room_type              119390 non-null  object
 19  assigned_room_type              119390 non-null  object
 20  booking_changes                 119390 non-null  int64
 21  deposit_type                    119390 non-null  object
 22  agent                           103050 non-null  float64
 23  company                         6797 non-null    float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  phone-number                    119390 non-null  object
 32  total_stay_nights               119390 non-null  int64
 33  total_members                   119386 non-null  float64
 34  total_bookings                  119390 non-null  int64
 35  arrival_date_month_num          119390 non-null  int64
dtypes: float64(5), int64(18), object(13)
memory usage: 32.8+ MB
None

,is_canceled,lead_time,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,...,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_stay_nights,total_members,total_bookings,arrival_date_month_num
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,...,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000
mean,0.370416,104.011416,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,...,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363,3.427900,1.968229,0.224215,6.552483
std,0.482918,106.863097,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,...,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798,2.557439,0.722400,1.827956,3.090619
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,18.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,...,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000,2.000000,2.000000,0.000000,4.000000
50%,0.000000,69.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000,3.000000,2.000000,0.000000,7.000000
75%,1.000000,160.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,...,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,4.000000,2.000000,0.000000,9.000000
max,1.000000,737.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,...,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000,69.000000,55.000000,78.000000,12.000000

In [124]:
# Removing the unnecessary columns
df = df.drop(columns = ['name','email', 'credit_card'], axis = 1)

KeyError: "['name', 'email', 'credit_card'] not found in axis"

In [ ]:
# Checking for missing valeues
null_values = df.isnull().sum()
null_values[null_values > 0]

In [ ]:
# Checking for duplicated values
df.duplicated().sum()

## Analyzing Numerical Variables

In [ ]:
sns.countplot(data = df, x = 'is_canceled', color = RandomColor().generate()[0])

### Analyzing Numerical Variables

### Lead time Analysis

In [ ]:
# Leadtime analysis
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Plots of lead time', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='lead_time', ax=axes[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='lead_time', bins=10, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

**Observations** 
* Bookings with high lead_time(days between arrival and booking) is more likely to be cancelled.
* Positively skewed data.

### Analysis of stays_in_weekend_nights/ stays_in_week_nights

In [ ]:
# Making plots of stays in weekend nights
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Plots of stays_in_weekend_nights', fontsize=16)
# KDE plot
sns.kdeplot(data=df, x='stays_in_weekend_nights', ax=axes[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='stays_in_weekend_nights', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Visualization of stays_in_week_nights', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='stays_in_week_nights', ax=axes[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='stays_in_week_nights', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

In [ ]:
# Creating new feature total nights stayed
df['total_stay_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

In [ ]:
# Visualizing total_members
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Visualization of total stay nights', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='total_stay_nights', ax=axes[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='total_stay_nights', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

**Observations** 
* No such remarkable effect of stays_in_week/weekend_nights variable on cancellation.
* Both stays_in_week/weekend_nights are positively skewed.
* Presense of outliers.

We created new variable total_stay_nights

### Analysis of no. of members babies, adults, children

In [ ]:
# Explore distributions of these variable
cols_to_plot = ['adults', 'children', 'babies']

# Create subplots
plt.figure(figsize=(9, 5))
for i, feature in enumerate(cols_to_plot):
    plt.subplot(-(-3 // 2), 2, i+1)
    sns.kdeplot(df[feature], color = RandomColor().generate()[0])
    plt.title(f'KDE plot of {feature}')

plt.tight_layout()

In [ ]:
# Create subplots
plt.figure(figsize=(9, 5))
for i, feature in enumerate(cols_to_plot):
    plt.subplot(-(-3 // 2), 2, i+1)
    sns.histplot(data = df, x = feature, bins = 20, hue = 'is_canceled')
    plt.title(f'Histogram of {feature}')

plt.tight_layout()

In [ ]:
# Creating a new feature total members
df['total_members'] = df['adults'] + df['children'] + df['babies']

In [ ]:
# Visualizing total_members
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Visualization of total members', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='total_members', ax=axes[0], color = RandomColor().generate()[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='total_members', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

**Observations**
* All of the variables denoting members are positively skewed.
* Presense of outliers can be seen.

We created new variable total_members

### Impact of Previous cancellations.

In [ ]:
# Visualizing previous cancellation and not previous cancellations 
# Assuming 'is_canceled' is a categorical variable
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(10, 8))

# Creating histograms with hue
sns.histplot(data=df, x='previous_cancellations', ax=axes[0, 0], bins=30, hue='is_canceled')
axes[0, 0].set_title('previous_cancellations')

sns.histplot(data=df, x='previous_bookings_not_canceled', bins=20, ax=axes[0, 1], hue='is_canceled')
axes[0, 1].set_title('previous bookings not canceled')

# Creating kdeplots
sns.kdeplot(data=df, x='previous_cancellations', ax=axes[1, 0], color = RandomColor().generate()[0])
axes[1, 0].set_title('KDE plot of previous_cancellations')

sns.kdeplot(data=df, x='previous_bookings_not_canceled', ax=axes[1, 1], color = RandomColor().generate()[0])
axes[1, 1].set_title('KDE plot of previous bookings not canceled')

# Adjust layout
plt.tight_layout()

In [ ]:
# Creating a new feature total bookings
df['total_bookings'] = df['previous_cancellations'] + df['previous_bookings_not_canceled']

In [ ]:
# Creating plots of total bookings
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

plt.suptitle('Visualization of total bookings', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='total_bookings', ax=axes[0], color = RandomColor().generate()[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='total_bookings', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

**Observations**
* Person with high number of previous cancellations are more likely to cancel the booking.
* Skewed distribution of previous_cancellation/ total_cancellation.

Created new variable total_bookings

### What if customer makes changes in booking ?

In [ ]:
## Creating plots of total bookings
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))
plt.suptitle('Visualizing of booking_changes', fontsize=15)
# KDE plot
sns.kdeplot(data=df, x='booking_changes', ax=axes[0], color = RandomColor().generate()[0])
axes[0].set_title('KDE')

# Histogram
sns.histplot(data=df, x='booking_changes', bins=20, ax=axes[1], hue = 'is_canceled')
axes[1].set_title('Histogram')

plt.tight_layout()

**Observations**
* Positive skewed data.

### Other numerical Variables

In [ ]:
# Explore numerical features
cols_to_plot = ['days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']

plt.figure(figsize=(9, 5))
for i, feature in enumerate(cols_to_plot):
    plt.subplot(-(-3 // 2), 2, i+1)
    sns.histplot(data = df, x = feature, bins = 20, hue = 'is_canceled')
    plt.title(f'Histogram of {feature}')

plt.tight_layout()

**Insights**
- Less risk of cancel if total_of_special_requests are higher .
- Those who require car paking spaces also has less cancel rates.

## Analyze Categorical Variables

In [ ]:
import warnings
warnings.filterwarnings("ignore")

### Hotel wise cancellation analysis

In [ ]:
# Find cancellation rates hotel wise
df_hotel = df.groupby('hotel')['is_canceled'].agg(['count', 'sum']).reset_index()
df_hotel['cancellation_pct'] = df_hotel['sum'] / df_hotel['count'] * 100

In [ ]:
df_hotel.head()

In [ ]:
# Creating visualization for hotel wise cancellation rates
sns.barplot(data = df_hotel, x = 'hotel', y = 'cancellation_pct',color = RandomColor().generate()[0])
plt.title('Hotel wise cancellation rates')

**Insights from barplot**
- City hotel has more cancellation rate as compared to resort.
- Around 41% of bookings made for city hotel are canceled where 27% for resort hotel.

### Country wise cancellation rates

In [ ]:
# Calculate country wise cancellatin rates
df_country = df.groupby('country')['is_canceled'].agg(['count', 'sum']).reset_index()
df_country['cancellation_pct'] = df_country['sum'] / df_country['count']

In [ ]:
df_country.head()

In [ ]:
# Ignoring countries with less than 1000 total bookings
df_country = df_country[df_country['count'] > 1000]

In [ ]:
# Creating bar plor for country wise cancellation 
sns.barplot(data = df_country, x = 'country', y = 'cancellation_pct', palette='viridis')
plt.ylabel('Cancellation Rate')
plt.title('Country Wise Cancellation Rates')

**Conclusions**
- PRT(Portugal) has highest cancellation rate.
- Many countries AUT(Austria) DEU(Germany) NLD(Neatherlands) has relatively low cancellation rates.

### Impact of Meal Plan

In [ ]:
# Calculating cancellation rates meal plan wise
value_counts = df['meal'].value_counts()

In [ ]:
# Creating barplot of meal plans and count
sns.countplot(data = df, x= 'meal', color = RandomColor().generate()[0])

In [ ]:
# Creating df for cancellation rate for meal plan
df_meal = df.groupby('meal')['is_canceled'].agg(['count', 'sum']).reset_index()
df_meal['cancellation_pct'] = df_meal['sum'] / df_meal['count'] * 100
df_meal.head()

In [ ]:
# Creating bar plot meal plean cancellation rates
sns.barplot(data = df_meal, x = 'meal', y = 'cancellation_pct',palette='viridis')
plt.title('Meal wise cancellation rates')

**Observations**
- Presense of missing values in form of "Undefined"
- Booking's with FB(Full Board) meal plan has most cancellation rates.

### Arrival time(year, month, week_number, day_of_month) analysis

#### Analyzing arrival_date_year

In [ ]:
# Calculating total cancellation in each year
df_arrival_year = df.groupby('arrival_date_year')['is_canceled'].agg(['sum']).reset_index()
df_arrival_year.head()

In [ ]:
# Lineplot of arrival_date_year with total cancellations
sns.barplot(data = df_arrival_year, x = 'arrival_date_year', y = 'sum', palette='viridis')
plt.ylabel('Total Cancellations')
plt.title('Bar Plot of Total Cancellation in Each Year')

In [ ]:
# Removing arrival_date_year becuse not providing much information
df = df.drop(columns = ['arrival_date_year'])

#### Analyzing arrival date month

In [ ]:
# Calculate month wise cancellation rattes
df_arrival_month = df.groupby('arrival_date_month')['is_canceled'].agg(['count', 'sum']).reset_index()
df_arrival_month['cancellation_pct'] = df_arrival_month['sum'] / df_arrival_month['count']

In [ ]:
# Sort the month in order of increasing month
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June':6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
df['arrival_date_month_num'] = df['arrival_date_month'].map(month_map)
sorted_df = df.sort_values(by=['arrival_date_month_num'],ascending=True)
df_arrival_month.head()

In [ ]:
sns.barplot(data = df_arrival_month, x = 'arrival_date_month', y = 'cancellation_pct', palette='viridis')
plt.xticks(rotation = 45)
plt.ylabel('Cancellation Percentage')
plt.title('Bar Plot of Cancellation Percentage for Arrival Date Month')

**Insights**
- Booking made in the month of April and June has most risk to be canceled.
- Where bookings in november january march are less likely to be canceled.
- Cancellation rates are increasing from December to June.
- From June- November is seems to be decreasing cancellation rates.

#### Analyze arrival date week number

In [ ]:
# Calculate arrival date week wise cancellation rates
df_arrival_week_number = df.groupby('arrival_date_week_number')['is_canceled'].agg(['count', 'sum']).reset_index()
df_arrival_week_number['cancellation_pct'] = df_arrival_week_number['sum'] / df_arrival_week_number['count']

In [ ]:
# Barplot of arrival date week number
plt.figure(figsize = (13, 6))
sns.barplot(data = df_arrival_week_number, x = 'arrival_date_week_number', y = 'cancellation_pct', palette='viridis')
plt.ylabel('Cancellation Rates')
plt.title('Bar Plot of Cancellation Percentage for Arrival Date week number')
plt.xticks(rotation = 45)
plt.show()

**arrival_date_week_number:** is week number of that year in which customer will be arriving at hotel.For example if customer arrives in Januray 29 then arrival_date_week_number will be 5.

**Insights**
- Plot has Same behaviour as of arrival_date_month with more detail.

#### Analyzing arrival_date_day_of_month

In [ ]:
# Calculate arrival date day of month wise cancellation rates
df_arrival_day_of_month = df.groupby('arrival_date_day_of_month')['is_canceled'].agg(['count', 'sum']).reset_index()
df_arrival_day_of_month['cancellation_pct'] = df_arrival_day_of_month['sum'] / df_arrival_day_of_month['count']
df_arrival_day_of_month = df_arrival_day_of_month.sort_values(by = 'arrival_date_day_of_month')

In [ ]:
# Barplot of arrival 
plt.figure(figsize = (10, 6))
sns.barplot(data = df_arrival_day_of_month, x = 'arrival_date_day_of_month', y = 'cancellation_pct', palette='viridis')
plt.ylabel('Cancellation Rates')
plt.title('Bar Plot of Cancellation Percentage for arrival_date_day_of_month')
plt.xticks(rotation = 45)
plt.show()

### What if guest is repeated

In [ ]:
# Checking for unique values
df['is_repeated_guest'].value_counts()

In [ ]:
# Calculating cancellation percentage of repeated and not repeated guest
df_is_repeated_guest = df.groupby('is_repeated_guest')['is_canceled'].agg(['count', 'sum']).reset_index()
df_is_repeated_guest['cancellation_pct'] = df_is_repeated_guest['sum'] / df_is_repeated_guest['count']

In [ ]:
# Creating count plot
sns.barplot(data = df_is_repeated_guest, x = 'is_repeated_guest', y = 'cancellation_pct', color = RandomColor().generate()[0])
plt.ylabel('Cancellation Rate')
plt.title('Bar Plot Showing Cancellation Rates For Repeated & Non Repeated Guests')

**Insights**
- Most of the guest are not repeated.
- Most of cancellation's are made by non repeated guests
- Only 14% of repeated guests cancel where this value goes to 37% when it comes to non repeated guests.

#### Analyze market segment

In [ ]:
# Find unique vales
df['market_segment'].value_counts()

In [ ]:
# Calculating cancellation rate

df_market_segment = df.groupby('market_segment')['is_canceled'].agg(['count', 'sum']).reset_index()
df_market_segment['cancellation_pct'] = df_market_segment['sum'] / df_market_segment['count']
# Creating plot
sns.barplot(data = df_market_segment, x = 'market_segment', y = 'cancellation_pct', palette = 'Paired')
plt.ylabel('Cancellation Rate')
plt.xticks(rotation = 45)
plt.title('Cancellation Rates For Different Marcket Segment')

**Insights**
- Groups has most of the cancellation.
- Presense of missing values in form of Undefined

### Analyze distribution channel

In [ ]:
# Find unique vales
df['distribution_channel'].value_counts()

In [ ]:
# Calculating cancellation rate
df_distribution_channel = df.groupby('distribution_channel')['is_canceled'].agg(['count', 'sum']).reset_index()
df_distribution_channel['cancellation_pct'] = df_market_segment['sum'] / df_market_segment['count']
# Creating plot
sns.barplot(data = df_distribution_channel, x = 'distribution_channel', y = 'cancellation_pct', palette = 'Paired')
plt.ylabel('Cancellation Rate')
plt.xticks(rotation = 45)
plt.title('Cancellation Rates For different distribution_channel')

**Insights**
- Corporate has most cancellation rates.
- Presense of missing values i.e Undefined.

#### reserved/assigned_room_type anaysis

In [ ]:
df[['reserved_room_type']].value_counts()

In [ ]:
df[['assigned_room_type']].value_counts()

In [ ]:
# Calculating cancellation rate
plt.figure(figsize=(9, 3))
variable = 'reserved_room_type'
cancel_rate_df = df.groupby(variable)['is_canceled'].agg(['count', 'sum']).reset_index()
cancel_rate_df['cancellation_pct'] = cancel_rate_df['sum'] / cancel_rate_df['count']
# Creating plot
sns.barplot(data = cancel_rate_df, x = variable, y = 'cancellation_pct', palette = "Spectral")
plt.ylabel('Cancellations')
plt.title(f'Total Cancellation For different {variable}')

# For assigned room type
plt.figure(figsize=(9, 3))
variable = 'assigned_room_type'
cancel_rate_df = df.groupby(variable)['is_canceled'].agg(['count', 'sum']).reset_index()
cancel_rate_df['cancellation_pct'] = cancel_rate_df['sum'] / cancel_rate_df['count']
# Creating plot
sns.barplot(data = cancel_rate_df, x = variable, y = 'cancellation_pct', palette = "Spectral")
plt.ylabel('Cancellations')
plt.title(f'Total Cancellation For different {variable}')

### deposit_type variable

In [ ]:
# Check unique values
df[['deposit_type']].value_counts()

In [ ]:
variable = 'deposit_type'
cancel_rate_df = df.groupby(variable)['is_canceled'].agg(['count', 'sum']).reset_index()
cancel_rate_df['cancellation_pct'] = cancel_rate_df['sum'] / cancel_rate_df['count']
# Creating plot
sns.barplot(data = cancel_rate_df, x = variable, y = 'cancellation_pct', palette = 'viridis')
plt.ylabel('Cancellation Rate')
plt.title(f'Cancellation Rates For different {variable}')

- High risk of cancellation with Non Refund deposit type.

#### customer_type variable

In [ ]:
df['customer_type'].value_counts()

In [ ]:
variable = 'customer_type'
cancel_rate_df = df.groupby(variable)['is_canceled'].agg(['count', 'sum']).reset_index()
cancel_rate_df['cancellation_pct'] = cancel_rate_df['sum'] / cancel_rate_df['count']
# Creating plot
sns.barplot(data = cancel_rate_df, x = variable, y = 'cancellation_pct', palette = 'viridis')
plt.ylabel('Cancellation Rate')
plt.title(f'Cancellation Rates For different {variable}')

- Customer Type Transient has highest cancel rates.

#### revervation_status variable

In [ ]:
df['reservation_status'].value_counts()

- We can remove reservation_status variabe

### agenet variable

In [ ]:
df['agent'].value_counts()

* agent variable is an id for agent which is not required for modeling thus we can remove it.

### company variable

In [ ]:
# Check unique values
df['company'].value_counts()

- Even company variable is mixed which is not required.

### Hypothesis testing

In [ ]:
numerical_features = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'total_members', 'total_stay_nights']

In [ ]:
from scipy.stats import shapiro

In [ ]:
# Normality test for numerical features
normal_cols= []
for feature in numerical_features:
    stat, p_value = shapiro(df[feature])
    print(f'{feature}: test_stat,',str(stat)[0:4], 'p_value', p_value)

# Deal with missing values

### Dealing for categorical variables

In [ ]:
# Dealing with Undefind in categorical columns
for i in df.columns:
    if len(df[df[i] == 'Undefined']) > 0:
        print(i)